# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# macOS metadata
.DS_Store

# PyCharm
.idea
